<!-- Modal -->
<div class="card-content table-responsive table-full-width scroll-enable" >
  <table class="table">
    <thead>
    <tr>
      <th>Название</th>
      <th>Изображение</th>
      <th>Категория</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Сумма</th>
      <th class="text-right">Просмотр</th>
    </tr>
    </thead>
    <tbody >
    <!---->
    <tr *ngFor="let product of products$">
      <td>{{product.title}}</td>
      <td class="image-75px">
        <div class="image-table">
          <!--<img *ngFor="let image of product.images" [src]="image | async">-->
          <img style="width: 30%" *ngIf="product.images.length" [src]="product.images[0] | async">
        </div>
      </td>
      <td>{{product.category}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
      <td><span *ngIf="product.quantity && (product.price || product.price === 0)">{{product.quantity * product.price}}</span></td>
      <td class="td-actions text-right">
        <options [id]="product._id" [type]="'products'" [deleteOptVisible]="false"></options>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mat-dialog-actions" mat-dialog-actions>
  <button class="mat-button" mat-button (click)="dialogRef.close()">
    <span class="mat-button-wrapper">OK</span>
    <div class="mat-button-ripple mat-ripple" matripple></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>