<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="card " style="height: 65px;">
        <div>
          <img *ngIf="form?.value['images']" [src]="form.value['images'][0]['image']" style="width: 100%"/>
        </div>
        <div class="content">
          <div class="col-md-12 input-wrapper text-center">
            <span class="btn btn-rose btn-round btn-file">
                <span class="fileinput-new">{{ 'BACKGROUND' | translation }}</span>
                <input type="file" (change)="upLoadBackground($event)">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="card">
        <div class="header">
          <h4 class="title">{{ 'SHOP_INFO' | translation }}</h4>
        </div>
        <div class="content">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Название компании</label>
                  <input type="text" class="form-control border-input"
                         formControlName="title" placeholder="ОАО Название">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Веб сайт</label>
                  <input type="url" class="form-control border-input"
                         formControlName="uri" placeholder="moko.by">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Страна</label>
                  <input type="text" class="form-control border-input"
                         formControlName="country" placeholder="Беларусь">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Город</label>
                  <input type="text" class="form-control border-input"
                         formControlName="city" placeholder="Минск">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Индекс</label>
                  <input type="number" class="form-control border-input"
                         formControlName="zip" placeholder="220000">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Адрес</label>
                  <input type="text" class="form-control border-input"
                         formControlName="address" placeholder="Адрес">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Почтовый ящик для уведомлений</label>
                  <input type="email" ngModel email class="form-control border-input"
                         formControlName="email" placeholder="example@gmail.com">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Телефон</label>
                  <input type="text" class="form-control border-input"
                         formControlName="phone" placeholder="+375">
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label>Текст для "Поделиться в социальных сетях"</label>
                  <textarea class="form-control border-input" rows="3"
                            formControlName="sharetext">Например, 'Мне очень понравилось это место, обязательно приходите!'
                  </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Информация о магазине</label>
                  <textarea class="form-control border-input" required rows="3"
                            formControlName="description">Здесь вы можете описать магазин
                  </textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd"
                      [disabled]="!form.valid" (click)="onFormSubmit()">{{'INFO_REFRESH' | translation}}</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
