<div class="container-fluid">
    <div class="card">
        <div class="header">
            <h4 class="title">Введите координаты вашего магазина</h4>
        </div>
        <div class="content">
            <form [formGroup]="form">
                <div class="row">
                  <div class="col-md-12">
                    <label>Координаты latitude/longitude</label>
                    <div class="form-group">
                        <div class="col-md-6">
                          <input type="number" formControlName="latitude" class="form-control border-input" placeholder="40.748817">
                        </div>
                        <div class="col-md-6">
                          <input type="number" formControlName="longitude" class="form-control border-input" placeholder="-73.985428">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="onFormSubmit()">Обновить информацию</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="card card-map">
        <div class="header">
            <h4 class="title">Google Maps</h4>
        </div>
        <ngui-map *ngIf="center" zoom="13"
                  [center]="center" >
            <marker [position]="[form.value.latitude,form.value.longitude]"></marker>
        </ngui-map>
    </div>
</div>
