.text-logo{
    font: 25px 'Verdana';
    padding:1px 1px 1px 1px;
    color: #000000;
}
.heads{
    font: 14px 'Verdana';
    margin: 0;
    padding:1px 1px 1px 1px;
    position: relative;
    width: 100%;
    leight: 2.5;
    background-color: #ffffff;
    background-size: 15em 2.5em;
}
a.button25 {

    position: relative;
    display: inline-block;
    width: 15em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05
}

a.button24 {

    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05
}

a.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

a.button26 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05;
}
a.button26:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.team{
    margin: 2px;
}
.heading-about{
    margin: 5px;
}
.service-icon{
    text-align: center;

}

@media screen and (min-width: 911px) {
    .navbar .navbar-header{
        margin-top: 15px;
    }
    .intro{

        width: 100%;
        height: 700px;
        margin-top: 93px;
        background-size: 100% ;
        background-repeat: no-repeat;
        background-image: url("../../assets/img/fon/img-bg.jpg") ;
    }
    .margin-left{
        margin-left: 18%;
    }

    .h1{
        font-family: fantasy;
        font-size: 80px;
        color: rgb(255, 244, 246);
    }

    .p1{
        font-size: 25px;
        color: #fffff9;
    }
    .slogan{


        padding-top: 240px;

    }

    .submenu ul > li{
        margin: 10px 0 10px 25px !important;
    }
    .submenu {


        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 4;

        width: 300px;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        transition: .6s ease-in-out;
    }
    .nav > li:hover .submenu{
        visibility: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
    }

}
.modal-window{

}
@media screen and (max-width: 911px) {

    .your-fucking-block{
        display: none;
    }
    .h1{
        font-weight: bold;
    }
    .intro{

        width: 100%;
        height:466px;
        padding-top: 150px;
        margin-top: 78px;
        color:white;
        background-size: 100% ;
        background-repeat: no-repeat;
        background-image: url("../../assets/img/fon/img-bg-mob2.jpg") ;
    }
    .navbar-hiden{
        display: none;

    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 455px !important;
    }
    .mobile-margin{
        margin-bottom: 15px;

    }
}



.submenu li a {
    color: #000000;
    font-size: 17px;
    line-height: 36px;

    font-size: 18px;
}
.submenu li a:hover {
    color: #ffffff;

}




.h2{
    font-family: fantasy;
    font-size: 50px;
    color: rgb(99, 99, 99);
}

.p2{
    font-size: 20px;
    color: #636363;
}
.p3{
    font-family: fantasy;
    font-size: 50px;
    color: rgb(99, 99, 99)
}


.send_mail{
    align:center;
    position: relative;
    display: inline-block;
    width: 10em;
    height: 3em;
    line-height: 1.7em;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05;

}

a.send_mail:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.your_text {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 10px 10px 10px 20px;
    resize: vertical;
    width: 100%;
}


.gmail{
    color: #e27d05;
}

.gmail:hover{
    text-decoration: underline;
}

.color{
    color: #e27d05;
}
.input{
    background-color: #fffffa;
}

.boxed-grey{
    padding: 15px 15px 15px 15px;
    background-color: #dfdfda;
}





.down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
}

.navbar-nav ul{
    margin: 10px !important;
}
.back{
    background-color: #413f41;
}
.active{
    font-weight:bold ;
}
.navbar-nav > li > a:hover{
    color: #fffaff;

}
.navbar-nav > li > a{
    color: rgb(0, 0, 0);
    padding: 15px;
    font-family:  'Verdana';
}
.navbar-nav > li > p{
    font-family:  'Verdana';
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 3px 15px;
    margin: 15px 8px;
}
.navbar-nav > li {
    font-family:  'Verdana';
    padding: 14px;
    font-size: 20px;
}
.navbar-nav ul{
    margin: 20px;
}

.navbar-collapse{

}
.container-back{

    background-color: rgba(202, 197, 191, 0.86);
}
.image-container-back > a > img{
    opacity: 1;
}
.nav-pad{

}



.navbar-nav > li > a {
    padding: 3px 15px;
    margin: 15px 8px;
}

.box-shadow {

    background: #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.box-shadow-img {

    background: #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom:35px ;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.box-shadow-in{
    min-height: 330px;
    background: #e6e3df;
    margin: 5px 5px 25px 5px;
    padding: 15px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 550px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 15%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* изображения внутри окна */
.popup img {
    width: 100%;
    height: auto;
}
/* миниатюры слева/справа */
.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}
