
.heads{
    font: 14px 'Verdana';
    margin: 0;
    padding:1px 1px 1px 1px;
    position: relative;
    width: 100%;
    leight: 2.5;
    background-color: #ffffff;
    background-size: 15em 2.5em;
}
a.button25 {

    position: relative;
    display: inline-block;
    width: 15em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05
}

a.button24 {

    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05
}

a.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

a.button26 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05;
}
a.button26:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.team{
    margin: 2px;
}
.heading-about{
 margin: 5px;
}
.service-box{
    text-align: center;
}

@media screen and (min-width: 600px) {
.intro{

    width: 100%;
    height: 700px;

    background-size: 100% ;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/fon/img-bg.jpg") ;
    }

    .h1{
        font-family: fantasy;
        font-size: 80px;
        color: rgb(255, 244, 246);
    }

    .p1{
        font-size: 25px;
        color: #fffff9;
    }
    .slogan{


        padding-top: 18%;

    }

    .submenu ul > li{
        margin: 10px 0 10px 25px !important;
    }
    .submenu {


        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 4;

        width: 300px;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        transition: .6s ease-in-out;
    }
    .nav > li:hover .submenu{
        visibility: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
    }

}
@media screen and (max-width: 600px) {

    .your-fucking-block{
        display: none;
    }
    .intro{
        visibility: hidden;
        display: none;
    }
    .navbar-hiden{
        display: none;

    }
}



.submenu li a {
    color: #000000;
    font-size: 17px;
    line-height: 36px;

    font-size: 18px;
}
.submenu li a:hover {
    color: #ffffff;

}




.h2{
    font-family: fantasy;
    font-size: 50px;
    color: rgb(99, 99, 99);
}

.p2{
    font-size: 20px;
    color: #636363;
}
.p3{
    font-family: fantasy;
    font-size: 50px;
    color: rgb(99, 99, 99)
}


.send_mail{
    align:center;
    position: relative;
    display: inline-block;
    width: 10em;
    height: 3em;
    line-height: 1.7em;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    color: #000000;
    outline: none;
    background: #ff8d05;

}

a.send_mail:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.your_text {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 10px 10px 10px 20px;
    resize: vertical;
    width: 100%;
}


.gmail{
    color: #e27d05;
}

.gmail:hover{
   text-decoration: underline;
}

.color{
    color: #e27d05;
}
.input{
    background-color: #fffffa;
}

.boxed-grey{
    padding: 15px 15px 15px 15px;
    background-color: #dfdfda;
}





.down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
}

.navbar-nav ul{
    margin: 10px !important;
}
.back{
    background-color: #413f41;
}
.active{
    font-weight:bold ;
}
.navbar-nav > li > a:hover{
    color: #fffaff;

}
.navbar-nav > li > a{
    color: rgb(0, 0, 0);

}

.navbar-nav > li {

    padding: 5px;
    font-size: 20px;
}
.navbar-nav ul{
    margin: 20px;
}

.navbar-collapse{

}
.container-back{

    background-color: rgba(202, 197, 191, 0.86);
}
.image-container-back > a > img{
    opacity: 1;
}
.nav-pad{

}



.navbar-nav > li > a {
    padding: 3px 15px;
    margin: 15px 8px;
}

