<!-- Section: intro -->


<nav class='navbar navbar-fixed-top navbar-color container-back' >
    <div class='container image-container-back  ' >

        <div class='navbar-header ' >

            <button (click)="changeMenuState()" type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapse' aria-expanded='false'>
                <span class='sr-only' >Toggle navigation</span>
                <span class='icon-bar' ></span>
                <span class='icon-bar' ></span>
                <span class='icon-bar' ></span>
            </button>


            <a (click)="changeMenuState()" href="#"><img src="../../assets/img/angular2-logo.png"  width="78px"/><a class="text-logo"> MOKO</a></a>

        </div>

        <div  [ngClass]="{'navbar-hiden':isMenuOpen}" class='navbar-right navbar-collapse nav-pad' id='' >

            <ul class='nav navbar-nav ' >



                <li>
                    <a (click)="changeMenuState()" href='#service' data-scroll>Возможности</a>
                </li>

                <li>
                    <p  (click)="changeSubMenuState()" href='#' class="down" data-scroll>Приложения</p>
                    <ul [ngClass]="{'navbar-hiden':isSubMemuOpen}" class="submenu container-back">
                        <li><a (click)="changeMenuState()" href="#about">Разработка приложения</a></li>
                        <li><a (click)="changeMenuState()" href="#works">Примеры приложений</a></li>
                    </ul>
                </li>

                <li>
                    <a (click)="changeMenuState()" href='#contact' data-scroll>Контакты</a>
                </li>
                <li class='active'>
                    <a (click)="changeMenuState()" href='#intro' [routerLink]="'admin'" data-scroll>Войти</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<div class="intro">

    <div align="center" class="slogan">
        <h1 class="h1">iOS и ANDROID каталоги</h1>
        <p class="p1">ваша продукция и услуги в личном мобильном приложении</p>

        <a href="#about" class="button26">Узнать больше</a>
    </div>

</div>


<!-- /Section: intro -->
<br/>
<!-- Section: about -->
<section id="about" class="rrr home-section text-center bg-gray">
    <div class="heading-about marginbot-50 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h1>Разработка приложения</h1>
                        <p>Благодаря нашему сервису мы сокращаем время и стоимость разработки вашего уникального приложения</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 mobile-margin">

                <div class="team box-shadow box-size-item">
                    <div class="inner">
                        <h5>Дизайн</h5>
                        <p class="subtitle">+100 вариантов</p>
                        <div class="avatar"><img src="assets/img/develop/1.png" alt="" class="img-responsive"/></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 mobile-margin">

                <div class="team box-shadow ">
                    <div class="inner">
                        <h5>Публикация</h5>
                        <p class="subtitle">в AppStore, PlayMarket</p>
                        <div class="avatar"><img src="assets/img/develop/3.png" alt="" class="img-responsive"/></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 mobile-margin">

                <div class="team box-shadow ">
                    <div class="inner">
                        <h5>Наполнение</h5>
                        <p class="subtitle">приложения данными</p>
                        <div class="avatar"><img src="assets/img/develop/2.png" alt="" class="img-responsive"/></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 mobile-margin">

                <div class="team box-shadow box-size-item">
                    <div class="inner">
                        <h5>Приложение</h5>
                        <p class="subtitle">можно скачивать</p>
                        <div class="avatar"><img src="assets/img/develop/4.png" alt="" class="img-responsive"/></div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>
<!-- /Section: about -->
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <!-- Section: services -->
        <section id="service" class="">
            <div class="box-shadow">
                <div class="heading-about marginbot-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">

                                <div class="section-heading" >
                                    <h1 align="center">Возможности</h1>
                                    <p align="center">Вы получаете больше рекламы вашей продукции за счет личного мобильного каталога</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-3 col-md-3">

                            <div class="service-box box-shadow-in">
                                <div  class="service-icon ">
                                    <i class="fa fa-code fa-3x"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>Редактирование</h5>
                                    <p>Мы предоставляем сервис по редактированию информации в вашем приложении в реальном времени через вашу
                                        учетную запись на нашем сайте</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3 col-md-3 ">

                            <div class="service-box box-shadow-in">
                                <div class="service-icon ">
                                    <i class="fa fa-suitcase fa-3x"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>WEB сервис</h5>
                                    <p>Admin Website на котором реализована система управления и редактирования вашим приложением.</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3 col-md-3 ">

                            <div class="service-box  box-shadow-in">
                                <div class="service-icon ">
                                    <i class="fa fa-cog fa-3x"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>PUSH-уведомления</h5>
                                    <p>Реализована возможность быстрого оповещения о новостях компании всех скачавших ваше приложение
                                        клиентов.</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3 col-md-3 ">

                            <div class="service-box box-shadow-in">
                                <div class="service-icon">
                                    <i class="fa fa-rocket fa-3x"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>Стоимость и скорость разработки</h5>
                                    <p>Благодаря внутренней разработки "MOKO GENERATOR" мы смогли уменьшить стоимость и время разработки</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section></div>
</div>
<!-- /Section: services -->
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h1>НАШИ ПРИЛОЖЕНИЯ</h1>
                        <p>Данные приложения вы можете найти в AppStore и PlayMarket</p>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="row gallery-item">
                    <div  [ngClass]="{'modal-window':isModalWindow}" class="col-md-3 box-shadow-img">
                        <p (click)="ModalWindow()" href=""
                           title="Разработанный мобильный каталог для компании КПСР-групп. http://kpsr-group.ru/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/1.jpg">
                            <img src="assets/img/clients/1.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">
                        <p href="http://moko.by/images/clients/2.jpg"
                           title="Разработанный мобильный каталог для магазина БЕЛАРУСАЧКА. http://belarusachka.by/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/2.jpg">
                            <img src="assets/img/clients/2.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">
                        <p href="http://moko.by/images/clients/3.jpg"
                           title="Разработанный мобильный каталог для магазина IDEAL LUX. http://ideal-lux.by/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/3.jpg">
                            <img src="assets/img/clients/3.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">
                        <p href="http://moko.by/images/clients/4.jpg"
                           title="Разработанный мобильный каталог для компании PRIDE-energo. http://pride-energo.by/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/4.jpg">
                            <img src="assets/img/clients/4.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">

                        <p href="http://moko.by/images/clients/5.jpg"
                           title="Разработанный мобильный каталог для компании UniTesS . http://unitess.ru/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/5.jpg">
                            <img src="assets/img/clients/5.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">

                        <p href="http://moko.by/images/clients/6.jpg"
                           title="Разработанный мобильный каталог для бара LOFT BAR. http://loft-bar.ru/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/6.jpg">
                            <img src="assets/img/clients/6.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">

                        <p href="http://moko.by/images/clients/7.jpg"
                           title="Разработанный мобильный каталог для компании VISABEL. http://visabel.com.au/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/7.jpg">
                            <img src="assets/img/clients/7.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                    <div class="col-md-3 box-shadow-img">

                        <p href="http://moko.by/images/clients/8.jpg"
                           title="Разработанный мобильный каталог для магазина MOKO. http://moko.by/"
                           data-lightbox-gallery="gallery1" data-lightbox-hidpi="http://moko.by/images/clients/8.jpg">
                            <img src="assets/img/clients/8.jpg" class="img-responsive" alt="img">
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: works -->
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- Section: contact -->
<section id="contact" class=" text-center" >
    <div class="heading-contact marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h1>Связаться с нами</h1>
                        <p>Вы заинтересованы в сотрудничестве или хотите больше узнать - свяжитесь с нами</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 margin-left">
                <div class="box-shadow ">
                    <form id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Имя</label>
                                    <input type="text" class="form-control " id="name" placeholder="Введите ваше имя"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Email адресс</label>
                                    <input type="text" class="form-control input" id="name1" type="email" placeholder="name@example.com"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Телефон</label>
                                    <input type="text" class="form-control input" id="name2" type="number" placeholder="+375*********"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Тип сообщения</label>
                                    <select type="text" class="form-control input" id="name3" type="number" placeholder="Тип сообщения"
                                            required="required">
                                        <option>Заказать приложение</option>
                                        <option>Сотрудничество</option>
                                        <option>Сообщить об ошибке</option>
                                        <option>Другое</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Сообщение</label>
                                    <textarea name="message" class="your_text" rows="15" cols="25" required="required"
                                              placeholder="Введите текст"></textarea>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="send_mail">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br/>
                <br/>
                <div class="widget-contact row">
                    <div class="col-lg-6">
                        <address>
                            <strong>MOKO.BY</strong><br>
                            Беларусь, г.Минск<br>
                            ул Петра Глебки д.15А<br>
                            <abbr title="Phone">тел:</abbr> +375 (29) 610-5555<br>
                            <abbr title="Phone">тел:</abbr> +375 (29) 604-3710
                        </address>
                    </div>

                    <div class="col-lg-6">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#" class="gmail">mokoserver@gmail.com</a><br/>
                        </address>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

